@model BreakingGymWebEN.MembresiaEN

@{
    ViewData["Title"] = "ModificarMembresia";
    Layout = "~/Views/Shared/Ladmin.cshtml";
}

<h1>ModificarMembresia</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-warning text-white text-center">
                    <h4><i class="bi bi-pencil-square"></i>Modificar Membresia</h4>
                </div>
                <div class="card-body p-4">
                    <form asp-action="ModificarMembresia" method="post" id="ModificarMembresiaForm">
                        <input type="hidden" asp-for="Id" />
                        
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label fw-bold"></label>
                            <input asp-for="Nombre" class="form-control" placeholder="Nombre de membresía" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="IdServicio" class="form-label fw-bold"></label>
                            <input asp-for="IdServicio" class="form-control" placeholder="ID de Servicio" />
                            <span asp-validation-for="IdServicio" class="text-danger"></span>
                        </div>
                        <div class="mb-">
                            <label asp-for="Precio" class="form-label fw-bold"></label>
                            <input asp-for="Precio" class="form-control" placeholder="Precio de membresía" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Duracion" class="form-label fw-bold"></label>
                            <input asp-for="Duracion" class="form-control" placeholder="Duración de membresía" />
                            <span asp-validation-for="Duracion" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Descripcion" class="form-label fw-bold"></label>
                            <input asp-for="Descripcion" class="form-control" placeholder="Descripción de la membresía" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div clas="d-flex justify-content-between">
                            <button type="submit" class="btn btn warning">
                                <i class="bi bi-check-circle"></i>Modificar
                            </button>
                            <a asp-action="MostrarMembresia" class="btn btn-secondary">
                                <i class="bi bi-x-circle"></i>Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Membresia.js"></script>
}
