
@{
    ViewData["Title"] = "SobreNosotrosU";
    Layout = "~/Views/Shared/Lusuario.cshtml";
}

<!-- INICIO DEL ÁLBUM -->
<section class="py-5 text-center container">
    <div class="fila">
        <div class="columna">
            <h1 class="fw-light">Bienvenido a Breaking GYM</h1>
            <p class="lead text-muted">
                Tu mejor opción para entrenar en un ambiente moderno, seguro y motivador.
                Ofrecemos:

                Equipos de última generación

                Horarios flexibles y precios accesibles.

                ¡Inscríbete hoy y empieza a transformar tu cuerpo y tu vida!
            </p>
        </div>
    </div>
</section>

<div class="album">
    <div class="container">
        <div class="row">

            <!-- Tarjeta 1 -->
            <div class="col">
                <div class="card">
                    <img src="~/FT_DeSobreNosotros/1_Cb.jpg" class="card-img-top" alt="Imagen 1" />
                    <div class="card-body">
                        <p class="card-text">Entrenamiento de fuerza y definición: alcanza tu máximo potencial físico con rutinas intensas y enfocadas en resultados.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col">
                <div class="card">
                    <img src="~/FT_DeSobreNosotros/2_Ar.jpg" class="card-img-top" alt="Imagen 2" />
                    <div class="card-body">
                        <p class="card-text">La disciplina y la constancia son la clave: transforma tu cuerpo paso a paso con dedicación y esfuerzo diario.</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col">
                <div class="card">
                    <img src="~/FT_DeSobreNosotros/3_Ad.jpg" class="card-img-top" alt="Imagen 3" />
                    <div class="card-body">
                        <p class="card-text">Un estilo de vida saludable y moderno: combina fuerza, estética y confianza en cada entrenamiento.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


