
@{
    ViewData["Title"] = "SobreNosotrosU";
    Layout = "~/Views/Shared/Lusuario.cshtml";
}


<!-- INICIO DEL ÁLBUM -->
<section class="py-5 text-center container">
    <div class="fila">
        <div class="columna">
            <h1 class="titulo">Bienvenido a Breaking GYM</h1>
            <p class="texto">
                En Breaking GYM creemos que entrenar no es solo cuestión de fuerza, es un estilo de vida.
                Nuestro objetivo es brindarte un ambiente moderno, seguro y motivador,
                donde cada persona pueda alcanzar su mejor versión.
                <br><br>
                Contamos con:

                Equipos de última generación para todo tipo de entrenamiento.
                Planes accesibles y horarios flexibles que se adaptan a tu ritmo de vida.

                Más que un gimnasio, somos una comunidad que impulsa la
                disciplina, la constancia y la pasión
                como herramientas para transformar tu cuerpo y tu mente.
                <br><br>
                ¡Vive la experiencia Breaking GYM,
                donde cada esfuerzo cuenta y cada meta se convierte en un logro!
            </p>

        </div>
    </div>
</section>

<div class="album">
    <div class="container">
        <div class="row">

            <!-- Tarjeta 1 -->
            <div class="col">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/1_Cb.jpg" class="card-img-top" alt="Imagen 1" />
                    <div class="card-body">
                        <p class="card-text">
                            Entrenamiento de fuerza y definición: alcanza tu máximo potencial físico con rutinas intensas y enfocadas en resultados.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/2_Ar.jpg" class="card-img-top" alt="Imagen 2" />
                    <div class="card-body">
                        <p class="card-text">
                            La disciplina y la constancia son la clave: transforma tu cuerpo paso a paso con dedicación y esfuerzo diario.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/3_Ad.jpg" class="card-img-top" alt="Imagen 3" />
                    <div class="card-body">
                        <p class="card-text">
                            Un estilo de vida saludable y moderno: combina fuerza, estética y confianza en cada entrenamiento.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


