@{
    ViewData["Title"] = "SobreNosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- INICIO DEL ÁLBUM -->
<section class="py-5 text-center container">
    <div class="fila1">
        <div class="columna1">
            <h1 class="titulo1">Bienvenido a Breaking GYM</h1>
            <h4 class="texto1">
                En Breaking GYM creemos que entrenar no es solo cuestión de fuerza, es un estilo de vida.
                Nuestro objetivo es brindarte un ambiente moderno, seguro y motivador,
                donde cada persona pueda alcanzar su mejor versión.
                <br><br>
                Contamos con:

                Equipos de última generación para todo tipo de entrenamiento.
                Planes accesibles y horarios flexibles que se adaptan a tu ritmo de vida.

                Más que un gimnasio, somos una comunidad que impulsa la
                disciplina, la constancia y la pasión
                como herramientas para transformar tu cuerpo y tu mente.
                <br><br>
                ¡Vive la experiencia Breaking GYM,
                donde cada esfuerzo cuenta y cada meta se convierte en un logro!
            </h4>

        </div>
    </div>
</section>

<div class="album1">
    <div class="container1">
        <div class="row1">

            <!-- Tarjeta 1 -->
            <div class="col1">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/1_Cb.jpg" class="card-img-top" alt="Imagen 1" />
                    <div class="card-body1">
                        <h5 class="card-text1">
                            Entrenamiento de fuerza y definición: alcanza tu máximo potencial físico con rutinas intensas y enfocadas en resultados.
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col1">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/2_Ar.jpg" class="card-img-top" alt="Imagen 2" />
                    <div class="card-body1">
                        <h5 class="card-text1">
                            La disciplina y la constancia son la clave: transforma tu cuerpo paso a paso con dedicación y esfuerzo diario.
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col1">
                <div class="card1">
                    <img src="~/FT_DeSobreNosotros/3_Ad.jpg" class="card-img-top" alt="Imagen 3" />
                    <div class="card-body1">
                        <h5 class="card-text1">
                            Un estilo de vida saludable y moderno: combina fuerza, estética y confianza en cada entrenamiento.
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

