@model BreakingGymWebEN.EstadoEN
@{
    ViewData["Title"] = "EliminarEstado";
    Layout = "~/Views/Shared/Ladmin.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-danger text-white text-center">
                    <h4><i class="bi bi-trash-fill"></i> Eliminar Estado</h4>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="fs-5">¿Está seguro que desea eliminar al siguiente Estado?</p>

                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Id:</strong> @Model.Id</li>
                        <li class="list-group-item"><strong>Nombre:</strong> @Model.Nombre</li>
                    </ul>

                    <form asp-action="EliminarEstado" method="post" id="EliminarEstadoForm">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i> Eliminar
                            </button>
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="bi bi-x-circle"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Estado.js"></script>
}
<style>
    .card {
        animation: titleEntry 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    @@keyframes titleEntry {
        0% {
            transform: translateY(-100px) scale(0.5); /* Viene desde arriba, pequeño */
            opacity: 0; /* Transparente */
        }

        100% {
            transform: translateY(0) scale(1); /* Posición normal, tamaño normal */
            opacity: 1; /* Completamente visible */
        }
    }

</style>



