@model List<BreakingGymWebEN.EstadoEN>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="bi bi-people-fill"></i> Lista de Estados</h4>
            <a asp-action="GuardarEstado" class="btn btn-light btn-sm">
                <i class="bi bi-person-plus-fill"></i> Agregar Estado
            </a>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered table-striped align-middle">
                <thead class="table-dark">
                  
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var estado in Model)
                        {
                            <tr>
                                <td>@estado.Id</td>
                                <td>@estado.Nombre</td>
                                <td class="text-center">
                                    <a asp-action="ModificarEstado" asp-route-id="@estado.Id" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil-square"></i> Modificar
                                    </a>
                                    <a asp-action="EliminarEstado" asp-route-id="@estado.Id" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash-fill"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center text-muted">
                                No hay Estos disponibles.
                            </td>
                        </tr>
                    }
                </tbody>
               
            </table>
        </div>
    </div>
</div>
